{% extends "admin_tasks/base.html" %}

{% block content %}
    <h2>Application data actions</h2>
    <ul>
        <p>
            <li>
                <h4>LDA Model</h4>
                <a href="{% url "admin_tasks:register_model" %}" class="btn btn-primary">Register a model</a>
                <a href="{% url 'admin_tasks:list_models' %}" class="btn btn-warning">List models</a>
            </li>
        </p>
    </ul>
    <ul>
        <p>
            <li>
                <h4>Articles</h4>
                <a href="{% url "admin_tasks:load_corpus" %}" class="btn btn-primary">Load corpus</a>
                <a href="{% url 'admin_tasks:list_articles' %}" class="btn btn-warning">List loaded articles</a>
            </li>
        </p>
    </ul>
    <ul>
        <p>
            <li>
                <h4>Model Comparisons</h4>
                <a href="{% url "admin_tasks:add_comparison" %}" class="btn btn-primary">Add a comparison</a>
                <a href="{% url 'admin_tasks:list_comparisons' %}" class="btn btn-warning">List comparisons</a>
    </li>
        </p>
    </ul>
    <hr>
    <h2>Administration data actions</h2>
    <ul>
        <p>
        <li>
            <h4>Data Processing Nodes</h4>
            <a href="{% url "admin_tasks:register_data_processing_node" %}" class="btn btn-primary">Register a data processing node</a>
                <a href="{% url 'admin_tasks:list_data_processing_nodes' %}" class="btn btn-warning">List data processing nodes</a>
            </li>
        </p>
        <p>
            <li>
                <h4>File Groups</h4>
                <a href="{% url 'admin_tasks:list_file_groups' %}" class="btn btn-warning">List file groups</a>
            </li>
        </p>
        <p>
            <li>
                <h4>SFTP Resource Withdrawal</h4>
                <a href="{% url "admin_tasks:sftp_resources_withdrawal" %}" class="btn btn-primary">Withdraw resource files</a>
            </li>
        </p>
    </ul>
{% endblock %}